MiBiosWeb/src/conf/xml-resources/web-service-references/ServicioMiBios/wsdl/localhost_8080/MiBiosWebService/ServicioMiBios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio.webservice.mibios.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio.webservice.mibios.com/" name="ServicioMiBios">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio.webservice.mibios.com/" schemaLocation="http://localhost:8080/MiBiosWebService/ServicioMiBios?xsd=1"/>
</xsd:schema>
</types>
<message name="listaCursos">
<part name="parameters" element="tns:listaCursos"/>
</message>
<message name="listaCursosResponse">
<part name="parameters" element="tns:listaCursosResponse"/>
</message>
<message name="agregarPersona">
<part name="parameters" element="tns:agregarPersona"/>
</message>
<message name="agregarPersonaResponse">
<part name="parameters" element="tns:agregarPersonaResponse"/>
</message>
<message name="proximosComienzos">
<part name="parameters" element="tns:proximosComienzos"/>
</message>
<message name="proximosComienzosResponse">
<part name="parameters" element="tns:proximosComienzosResponse"/>
</message>
<message name="clasesDelDia">
<part name="parameters" element="tns:clasesDelDia"/>
</message>
<message name="clasesDelDiaResponse">
<part name="parameters" element="tns:clasesDelDiaResponse"/>
</message>
<message name="cantidadAlumnosPorSexo">
<part name="parameters" element="tns:cantidadAlumnosPorSexo"/>
</message>
<message name="cantidadAlumnosPorSexoResponse">
<part name="parameters" element="tns:cantidadAlumnosPorSexoResponse"/>
</message>
<portType name="ServicioMiBios">
<operation name="listaCursos">
<input wsam:Action="http://servicio.webservice.mibios.com/ServicioMiBios/listaCursosRequest" message="tns:listaCursos"/>
<output wsam:Action="http://servicio.webservice.mibios.com/ServicioMiBios/listaCursosResponse" message="tns:listaCursosResponse"/>
</operation>
<operation name="agregarPersona">
<input wsam:Action="http://servicio.webservice.mibios.com/ServicioMiBios/agregarPersonaRequest" message="tns:agregarPersona"/>
<output wsam:Action="http://servicio.webservice.mibios.com/ServicioMiBios/agregarPersonaResponse" message="tns:agregarPersonaResponse"/>
</operation>
<operation name="proximosComienzos">
<input wsam:Action="http://servicio.webservice.mibios.com/ServicioMiBios/proximosComienzosRequest" message="tns:proximosComienzos"/>
<output wsam:Action="http://servicio.webservice.mibios.com/ServicioMiBios/proximosComienzosResponse" message="tns:proximosComienzosResponse"/>
</operation>
<operation name="clasesDelDia">
<input wsam:Action="http://servicio.webservice.mibios.com/ServicioMiBios/clasesDelDiaRequest" message="tns:clasesDelDia"/>
<output wsam:Action="http://servicio.webservice.mibios.com/ServicioMiBios/clasesDelDiaResponse" message="tns:clasesDelDiaResponse"/>
</operation>
<operation name="cantidadAlumnosPorSexo">
<input wsam:Action="http://servicio.webservice.mibios.com/ServicioMiBios/cantidadAlumnosPorSexoRequest" message="tns:cantidadAlumnosPorSexo"/>
<output wsam:Action="http://servicio.webservice.mibios.com/ServicioMiBios/cantidadAlumnosPorSexoResponse" message="tns:cantidadAlumnosPorSexoResponse"/>
</operation>
</portType>
<binding name="ServicioMiBiosPortBinding" type="tns:ServicioMiBios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listaCursos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="proximosComienzos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="clasesDelDia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cantidadAlumnosPorSexo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioMiBios">
<port name="ServicioMiBiosPort" binding="tns:ServicioMiBiosPortBinding">
<soap:address location="http://localhost:8080/MiBiosWebService/ServicioMiBios"/>
</port>
</service>
</definitions>